.main-bg {
  background-color: #000000;
}

.header-bg {
  background-color: #0d0d0d;
}

.content-bg {
  background-color: #121212;
}

.s-icon {
  height: 26px;
  padding: 0px 20px 0px 5px;
  width: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
  }
}

.arrow {
  margin: 5px;
  background-color: #b3b3b3;
  color: #000000;
  border-radius: 100%;
  cursor: not-allowed;
}

.social {
  border-radius: 100%;
  color: white;
  background-color: #1f1f1f;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social:hover {
  background-color: #2e2e2e;
  cursor: pointer;
}

.arrow:hover {
  cursor: not-allowed;
}

.side-in-card-bg {
  background-color: #1f1f1f;
}

.side-scrollable {
  overflow: auto;
  max-height: 120px;
}

.main-scrollable {
  overflow: auto;
  max-height: auto;
  padding-bottom: 80px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.793);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.artiste {
  color: #b3b3b3;
}

.category:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pointer:hover {
  cursor: pointer;
}

.main-card {
  background-color: #121212;
  width: 185px;
  height: 250px;
  margin-right: 8px;
}

.img-size {
  width: 160px;
  height: 160px;
  object-fit: cover;
}

.main-card:hover {
  background-color: #1f1f1f;
}

.ft-txt {
  color: #b3b3b3;
  font-size: 11px;
}

.txt-sm {
  font-size: 13px;
}

.txt-md {
  font-size: 13.5px;
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-bg {
  padding-top: 6px;
  background: linear-gradient(90deg, #ae2997, #519af4);
  border: solid 5px black;
  color: white;
}

.footer-size {
  margin-top: 50px;
  font-size: 16px;
}

.btn-inc:hover {
  transform: scale(1.05);
}

span.txt-inc:hover {
  color: white;
  transition: font-size 0.3s;
  transform: scale(1.1);
  font-size: 1.05em;
}

.btn-play {
  color: #1ed760;
  background-color: black;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  position: absolute;
  margin-top: 110px;
  margin-left: 110px;
  transition: transform 0.4s ease-in-out;
  transform: translateY(10px);
  opacity: 0;
}

.btn-play.show-play {
  transform: translateY(0);
  opacity: 1;
}

.btn-play.show-play:hover {
  cursor: pointer;
  color: #42ff84;
}

.mobile-view-message {
    display: none;
}

/* Responsive Styles for Smaller Screens */
@media (max-width: 1195px) {
  .mobile-view-message {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    z-index: 1000;
  }

  .logo {
    height: 50px;
    width: auto;
  }

  /* Hide main content on smaller screens */
  .main-content {
    display: none;
  }
}
